--extra-index-url https://pypi.org/simple
sentence-transformers==2.2.2
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
python-dotenv
groq
scipy==1.10.1
pinecone
