--index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu  # Add +cpu suffix for older versions
sentence-transformers==2.2.2
fastapi
uvicorn
pydantic
python-dotenv
groq
scipy==1.10.1
pinecone
